.container {
    height: 100%;
    width: 100%;
}
.404-video {
    display: block;
}
.img404 {
    backgroud-image: url("/image/404.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
