.container {
    height: 100%;
    width: 100%;
}
.404-video {
    display: block;
}
.img404 {
    backgroud: url("/image/404.jpg") no-repeat center center fixed;
    backgroud-size: cover;
    height: 100%;
    overflow: hidden;
}
